{% extends 'base.html' %}

{% block navigation %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
            <a href="{{url_for('frontend.index')}}">Startseite</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block header_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Server Error <span>:(</span></h2>
        </div>
    </div>
    <div class="row">
        <p>Please contact the admin.</p>
    </div>
</div>
{% endblock %}

