{% extends 'base.html' %}
{% import "macros.html" as macros %}

{% block navigation %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
            <a href="{{url_for('frontend.index')}}">Startseite</a>
        </li>
        <li class="page-scroll">
            <a href="#teams">Teams</a>
        </li>
        <li class="page-scroll">
            <a href="#message">Nachricht</a>
        </li>
        <li class="page-scroll">
            <a href="{{url_for('security.logout')}}">Abmelden</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block header_content %}
<div class="container">
    <div class="row">
        <div class="teamcount col-sm-12 text-center">
            Es sind noch {{free_places}} Pl&auml;tze frei.
        </div>
    </div>
</div>
{% endblock %}

{% block sections %}
<!-- Portfolio Grid Section -->
<section id="teams">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Teams</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Teamname</th>
                        <th class="text-center">Spieler 1</th>
                        <th class="text-center">Spieler 2</th>
                        <th class="text-center">Bezahlt</th>
                        <th class="text-center">Editieren</th>
                        <th class="text-center">L&ouml;schen</th>
                    </tr>
                </thead>
                <tbody>
                {% for index, team in enumerate(teams) %}
                    <tr>
                        <td class="vert-align">{{index + 1}}</td>
                        <td class="vert-align">{{team.name}}</td>
                        {% for person in team.persons %}
                        <td class="vert-align">{{person.raw_name}}</td>
                        {% endfor %}
                        {% if team.payed %}
                        <td class="vert-align"><span class='btn btn-success btn-sm disabled'><i class="fa fa-check fa-2x"></i>
</span></td>
                        {% else %}
                        <td class="vert-align"><span class='btn btn-danger btn-sm disabled'><i class="fa fa-times fa-2x"></i></span></td>
                        {% endif %}
                        <td class="vert-align"><a href="{{ url_for('frontend.edit_team', team=team.id) }}" class="btn btn-info btn-sm"><i class="fa fa-pencil-square-o fa-2x"></i></a></td>
                        <td class="vert-align"><a href="{{ url_for('frontend.delete_team', team=team.id) }}" class="btn btn-warning btn-sm"><i class="fa fa-trash fa-2x"></i></a></td>
                    <tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="message" class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Nachricht verschicken</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form name="sentMessage" id="contactForm" action='/' method='POST'>
                    <div class="row">
                        <div class="col-md-12">
                            {{ message_form.csrf_token }}
                            {{ macros.input_labelfree(message_form.message, class='form-control', placeholder='Nachricht an alle ... *')}}
                        </div>
                        <div class="clearfix"></div>
                        {{ macros.button(message_form.submit) }}
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div id="contact-success" class="col-sm-12 text-center hidden">
                <hr class="star-light">
                <h4>Die Nachricht wurde erfolgreich gesendet!</h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_javascript %}
{% if scroll_to %}
<script type='text/javascript'>
    $(document).ready(function(){
        var scroll_to = '{{scroll_to}}';

        if (scroll_to == 'contact_success'){
            $('#contact-success').removeClass('hidden');
            $('html, body').stop().animate({
                scrollTop: $('#contact').offset().top
            }, 0, 'easeInOutExpo');
        }
        else if (scroll_to == 'contact_error'){
            $('html, body').stop().animate({
                scrollTop: $('#contact').offset().top
            }, 0, 'easeInOutExpo');
        }
    });
</script>
{% endif %}

{% endblock %}