{% macro render_errors(field) %}
  {% if field.errors %}
  <ul class="error">
      {% for error in field.errors %}
      <li>{{ error }}</li>
      {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}


{% macro input_offset(field, class='form-control', placeholder='') -%}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id }}" class="col-sm-offset-2 col-sm-2 control-label">{{ field.label.text|safe }}</label>
    <div class="col-sm-4">
        {{ field(class=class, placeholder=placeholder) }} {{ render_errors(field)|safe }}
    </div>
</div>
{%- endmacro %}

{% macro input(field, class='form-control') -%}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id }}" class="col-sm-2 col-sm-offset-2 control-label">{{ field.label.text|safe }}</label>
    <div class="col-sm-4">
        {{ field(class=class)|safe }} {{ render_errors(field) }}
    </div>
</div>
{%- endmacro %}

{% macro input_labelfree(field, class='form-control', placeholder='') -%}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field(class=class, placeholder=placeholder) }} {{ render_errors(field)|safe }}
    <p class="help-block text-danger"></p>
</div>
{%- endmacro %}



{% macro input_multiple(fields, class='form-control', placeholder='') -%}
<div class="form-group">
    {% for field in fields %}
    <div {% if field.errors %}class="has-error"{% endif %}>
      <label for="{{ field.id }}" class="col-sm-2 control-label">{{ field.label.text|safe }}</label>
      <div class="col-sm-3">
          {{ field(class=class, placeholder=placeholder) }} {{ render_errors(field)|safe }}
      </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}



{% macro button(field, enabled=True) -%}
<div class="form-group">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        {% if enabled %}
        {{ field(class='btn btn-lg btn-outline')|safe }}
        {% else %}
        <button type="button" class="btn btn-lg btn-outline {% if not enabled %}disabled{% endif %}">Anmeldung geschlossen</button>
        {% endif %}
    </div>
</div>
{%- endmacro %}

